*{
  font-family: Times New Roman, Sans-Serif;
}
.panel-title {
    margin-top: 400px;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.navbar {
    /*/ position: relative;  /*/  
    min-height: 60px;              /*/ 64 /*/
    margin-bottom: 70px;            /*/ 23 /*/
    border: 1px solid transparent;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.banner {
	background-color: #13306a;
	/*/ background-image: url('test4.jpg'); /*/
	height: 500px;
	width: inherit;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: white;
	text-align: right;
	padding-right: 30px;
	padding-top: 100px;
	letter-spacing: 0px;
	margin-top: -80px;
  font-size: 80px;
  text-shadow: 1px 1px 0 black;
}
.parallax_description {
	color: #000000;
	text-align: right;
	padding-right: 33px;
	padding-top: -20px;
	padding-bottom: 15px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  /*/ background-color: #ffffff;/*/ 
  opacity: 0.8;
  font-size: 30px;
}